<% content_for :title, 'страница '+@page.to_s+' - ' %>
<% parse_metadata(@article) %>

<%= render :partial =>'/shared/sub_menu', :locals => {:article => @article} %>

<div id="content">
  <%= content_tag :h1, @article.head if @article.head.present? %> 
  
  <% @questions.each do |q| %>
    <p class = "news">
      <strong><%= q.subject %></strong>
    </p>
    <p class="news">
      <%= q.body %>
    </p><br/>
  <% end %>


  <br />
  <%= will_paginate @questions %>
</div>