<% content_for :title, 'страница '+@page.to_s+' - ' %>
<% parse_metadata @article %>

<%= render_sub_menu @article %>

<div id="content">
  <%= content_tag :h1, @article.head if @article.head.present? %>
  <table class="partners">
  <% @partners.each do |partner| %>
  <tr>
    <td><%= image_tag partner.cover_image.thumb('150x150#').url if partner.cover_image %></td>
    <td><%= partner.description %></td>    
  </tr>
  <% end %>
  </table>

  <br />
  <%= will_paginate @partners %>
</div>
