<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%#= @article.to_json %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <%= f.label :slogan %><br />
    <%= f.text_field :slogan %>
  </div>
  <div class="field">
    <%= f.label :head %><br />
    <%= f.text_field :head %>
  </div>
   <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :input_html => {:class => 'mceEditor'} %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :addon %><br />
    <%= select_tag 'article[addon]', options_for_select({'без плагина'=>'','новости'=>'newsposts','партнеры'=>'partners','обратная связь'=>'feedback','вопрос - ответ'=>'questions'},@article.addon) %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= select(:article,
               :parent_id,
               [["без родителя",1]]+Article.where(:parent_id=>1).collect {|p| [ p.name, p.id ] },:selected=>@article.parent_id) 
     %>
  </div>
  <div class="field">
  <%= f.label 'Изображение' %><br />
   <%= f.file_field :cover_image %>
  </div>

  <div class="actions">
    <br/>
    <%= f.submit %>
  </div>

   <%= image_tag @article.cover_image.thumb('100x100#').url if @article.cover_image %>
<% end %>

  <%= render "/shared/tinymce"%>

