<%= form_for @newspost, :html=>{:class=>'editor_form'} do |f| %>
  <% if @newspost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newspost.errors.count, "error") %> prohibited this newspost from being saved:</h2>

      <ul>
      <% @newspost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :posted %><br />
    <%= f.date_select :posted %>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>

  <%= render "/shared/tinymce"%>
