<% parse_metadata(@article) %>

<%= render :partial =>'/shared/sub_menu', :locals => {:article => @article} %>

<div id="content">
  <%= content_tag :h1, @article.head if @article.head.present? %> 
  
  <% @newsposts.each do |newspost| %>
    <h2 class = "news">
      <%= link_to newspost.posted.to_s + ' ' + newspost.name, newspost %>
    </h2>
    <p class="news">
      <%= newspost.body %>
    </p>
  <% end %>


  <br />
  <%= will_paginate @newsposts %>
</div>
