<!DOCTYPE html>
<html>
<head>
  <title>Expert</title>
  
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
    <div id="header">
        <%= image_tag "logo.png", :size => '451x128' %>
        <div id="navigation">
            <%= link_to image_tag ('nav-home.png'), {} %>
            <%= link_to image_tag ('nav-mailto.png'), {} %>
        </div>
        <div id="contacts">Компания «Эксперт», 2008г. г. Екатеринбург, ул. Первомайская, д. 12, оф. 311<br>тел (343) 311-11-11, 311-11-11,<br>e-mail: 111111@mail.ru</div>
    </div>
    
    <ul id="horizontal-menu">
        <li class="first"><a href="#">о компании</a></li>
        <li><a href="#">новости</a></li>
        <li><a href="#">юридические услуги</a></li>
        <li><a href="#">экономическая безопастность</a></li>
        <li><a href="#">контрольно-ревизионные услуги</a></li>
        <li><a href="#">партнеры</a></li>
        <li><a href="#">справка</a></li>
        <li><a href="#">обратная связь</a></li>
        <li class="last"><a href="#">контакты</a></li>
    </ul>
   
   <%= yield %>
   
    <div id="footer">
        <p id="copyright">© 2007 – 2011. Все права защищены ЗАО «Юридическая компания «Эксперт».</p>
        <div id="counter">
            <%= image_tag ('counter.png'), {} %>
        </div>
    </div>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script><script src="js/libs/jquery-1.7.1.min.js"></script>

<script src="js/plugins.js"></script>
<script src="js/script.js"></script>
</body>
</html>
