<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <meta name="description" content="<%= yield :description %>">
  <meta name="keywords" content="<%= yield :keywords %>">
  
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
    <div id="header">
        <%= link_to (image_tag "logo.png", :size => '451x128',:id =>'logo'), root_path %>
        <div id="navigation">
            <%= link_to (image_tag ('nav-home.png')), root_path %>        
            <%= link_to (image_tag ('nav-mailto.png')), new_feedback_path %>
        </div>

        <div id="contacts">
        <% if @current_location %>
          <%= @current_location.adress%><br>
          тел.: <%= @current_location.phone %>,<br>
          e-mail: <%= @current_location.email %>
        <% end %>
        </div>

    </div>
    <ul id="horizontal-menu">
      <%if @main_menu %>
        <li class="first">        
          <%= menu_link @main_menu[0] if @main_menu[0] %>
        </li>
       
        <% @main_menu[1..@main_menu.length-2].each do |article|  %>                 
           <li><%= menu_link article if article %>  </li>    
        <% end %>
       
        <li class="last">
          <%= menu_link @main_menu.last if @main_menu.last %>
        </li>
       <% end %>  
    </ul>
   
   <%= yield %>
   
    <div id="footer">
        <p id="copyright"><%= @current_location.copyright if @current_location %></p>
        <div id="counter">
            <%= image_tag ('counter.png'), {} %>
        </div>
    </div> 
</div>

 <% if user_signed_in? %>
   <%= render "shared/tool_bar"%>
  <% end %>


</body>
</html>
